<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studentMapper">

	<resultMap type="Student" id="studentMap">
		<id property="studentNo" column="student_no"/>
		<result property="studentName" column="student_name"/>		
		<result property="studentSsn" column="student_ssn"/>		
		<result property="studentAddress" column="student_address"/>		
		<result property="entranceDate" column="entrance_date"/>		
		<result property="absenceYn" column="absence_yn"/>		
		<result property="coachProfessorNo" column="coach_professor_no"/>		
		<association property="department" resultMap="departmentMap"/>		
	</resultMap>
	
	<resultMap type="department" id="departmentMap">
		<id property="departmentNo" column="department_no"/>
		<result property="departmentName" column="department_name"/>
		<result property="category" column="category"/>
		<result property="openYn" column="open_yn"/>
		<result property="capacity" column="capacity"/>
	</resultMap>
	
	<select id="showStudent" parameterType="String" resultMap="studentMap">
		SELECT student_no, student_name, student_address, department_name, category
		FROM tb_student
		JOIN tb_department USING(department_no)
		<if test="search!=null">
			WHERE STUDENT_NO LIKE '%'||#{search}||'%'
			OR student_name LIKE '%'||#{search}||'%'
        	OR student_address LIKE '%'||#{search}||'%'
        	OR department_name LIKE '%'||#{search}||'%'
     	    OR category LIKE '%'||#{search}||'%'
		</if>
	</select>
</mapper>
<!-- 
	resultMap에서 TB_STUDENT, TB_DEPARTMENT 
	id, result <- 앞에서 배운 건 여기까지였다면
	<association property="department" resultMap="departmentMap"/>
	
	showStudent 
 -->
 